@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100,200,300,400,500,600,700,800,900&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1 !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-y: hidden;
}