.group-box-title {
    padding: 15px 12px;
    height: 60px;
}

.group-box-title-text {
    margin: 0;
    user-select: none;
}

.group-box {
    background-color: transparent;
    min-height: calc(100% - 30px);
    max-height: calc(100% - 30px);
    overflow-y: scroll;
}

.group-box::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }
  

@media screen and (max-width: 767px) and (orientation: portrait) {
    .group-box {
        min-height: calc(50vh - 164px);
        max-height: calc(50vh - 164px);
    }
}