.group {
    padding: 6px 12px;
    width: calc(20vw);
    cursor: pointer;
    user-select: none;
}

.group:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.group.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.group-avatar {
    font-weight: 700;
    flex-shrink: 0;
}

.group-container {
    width: calc(100% - 52px)
}

.group-container p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 4px;
    font-weight: 600;
    flex-shrink: 1;
}

.user-group {
    margin-left: 20px;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .group {
        width: 30vw;
    }

    .group-container p {
        font-size: 1.4vh;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .group {
        width: 70vw;
    }

    .group-container p {
        font-size: 1.7vh;
    }

    .section-container .group {
        width: calc(60vw - 24px);
    }
}