.header-title {
    user-select: none;
}

.layout-card .ant-card {
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1) !important;
    border-radius: 12px;
}

.layout-card .ant-card-bordered {
    border: 0;
}

.layout-card .ant-card-body {
    padding: 0 !important;
    height: calc(100% - 41px);
}

.layout-card .ant-card-grid {
    box-shadow: none !important;
    padding: 0 !important;
    overflow-y: "scroll"
}

.layout-card .ant-card-head {
    padding: 0 !important;
}

.chat-layout-content {
    min-height: 100vh;
    max-height: 100vh
}

.chat-layout-content-cards {
    padding: 10px 30px;
    width: 100%;
    max-height: calc(100% - 64px);
}

.top-left-card {
    max-width: 20vw;
    flex: 1;
    max-height: 60%
}

.bottom-left-card {
    max-width: 20vw;
    max-height: calc(40% - 15px)
}

.middle-card {
    flex: 1;
}

.right-card {
    margin-left: -35px;
    flex: 0.45;
}

.tablet-collapsible {
    margin: 12px;
}

.mobile-collapsible {
    margin: 12px;
}

.add-new-profile-button {
    font-size: 14px;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .top-left-card {
        max-width: 40vw;
        min-height: 50vh;
        max-height: 50vh;
    }

    .bottom-left-card {
        max-width: 40vw;
        min-height: calc(50vh - 64px - 15px - 24px);
        max-height: calc(50vh - 64px - 15px - 24px);
    }

    .chat-layout-content-cards {
        max-height: calc(100% - 130px);
        width: calc(100vw - 42px);
    }

    .middle-card {
        width: 100%;
    }

    .ant-layout-sider-zero-width-trigger {
        background-color: transparent !important;
        color: rgb(94, 74, 227) !important;
    }

    .ant-layout-sider-zero-width-trigger-left {
        background-color: transparent !important;
        color: rgb(94, 74, 227) !important;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .top-left-card {
        max-width: 70vw;
        min-height: 50vh;
        max-height: 50vh;
    }

    .bottom-left-card {
        max-width: 70vw;
        min-height: calc(50vh - 64px - 15px - 24px);
        max-height: calc(50vh - 64px - 15px - 24px);
    }

    .middle-card {
        min-width: 81vw;
        max-width: 81vw;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .right-card {
        margin-left: -62.7vw;
        min-width: 60vw;
        max-width: 60vw;
    }
}