.ant-card {
    box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.ant-card-bordered {
    border: 0;
}

.ant-card-body {
    padding: 0 !important;
    height: calc(100% - 41px);
}

.ant-card-grid {
    box-shadow: none !important;
    padding: 0 !important;
    overflow-y: "scroll"
}

.ant-card-actions ul {
    height: 50px !important;
}